div#invite {
    border: 2px solid blue;
    padding: 2px;
}

div#address-book-plus-invitation {
    overflow: scroll;
}

div.add-contact {
    margin: 2px;
}

div.contact {
    background-color: #cfc;
    margin: 2px 10px 2px 10px;
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 1px;
}
div.contact:hover {
    margin: 2px;
    padding-left: 9px;
}
div.contact.selected {
    background-color: #ada;
}

div.invitation {
    background-color: #ccf;
    margin: 2px 10px 2px 10px;
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 1px;
}
div.invitation:hover {
    margin: 2px;
    padding-left: 9px;
}
div.invitation.selected {
    background-color: #aad;
}

div.contact-details-pane {
    background-color: #efe;
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 15px;
    margin: 5px;
}

div#send-message {
    padding: 5px;
    border: 2px solid blue;
    bottom: 10px;
}


.small {
    font-size: 50%;
}

.gray {
    font-size: 80%;
    color: #888;
}

.fixed {
 font-family: "Courier New",Courier,monospace;
}
