div#invite {
    border: 2px solid blue;
    padding: 2px;
}

div#address-book-plus-invitation {
    overflow: scroll;
}

div.add-contact {
    margin: 2px;
}

div.contact {
    background-color: #cfc;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 1px;
}
div.contact:hover {
    background-color: #ada;
}


div#send-message {
    padding: 5px;
    border: 2px solid blue;
    bottom: 10px;
}


.small {
    font-size: 50%;
}

.gray {
    font-size: 80%;
    color: #888;
}

.fixed {
 font-family: "Courier New",Courier,monospace;
}
