
# basic metadata
include MANIFEST.in LICENSE NEWS README.rst

# version-number-updating files
include versioneer.py src/petmail/_version.py

recursive-include src/petmail *.py *.sql *.html *.js *.css *.eot *.svg *.ttf *.woff
