
# sha256: 1Rq4srBAKzyT9c__OQbm1MlXqQ6a9kCnzoz32oURURE
# sha256: x7heQz7PLy3zftsBe5VMRoNCmR4Yg8ih6NhhZYS2mZg
six==1.7.2

# sha256: lX2YtmHAtktYCrb5SxJeCbZxQVTuUd5AvKFtPwB2uGw
pycparser==2.10

# pynacl -S-> cffi
# pynacl -I-> cffi
# pynacl -I-> six
# sha256: N8MuTzCIbny5_KU3v6yvkqathrS_masfPazzMOHsv5Y
PyNaCl==0.2.3

# z.i -I-> setuptools
# sha256: egPwjiap-Izq3NUd9oTKVYZDh9PE-4ZU6zwdg2V4QLg
zope.interface==4.1.0

# twisted -I-> zope.interface >=3.6.0
# sha256: vf2WGsIhb1xlsH8sOl5RFvZxO4wc8HbEABDGSBDSaWM
Twisted==14.0.0
