
div.payment-drop {
    height: 200px;
    width: 200px;
    border: 3px solid green;
    margin: 50px;
}

div.payment-drop > p {
    margin: 50px;
}

div.invitation-code-display {
    height: 100px;
    width: 70%;
    border: 3px solid blue;

    padding: 50px;
}

.code-font {
    font-size: 120%;
    font-weight: bold;
    font-family: "Courier New",Courier,monospace;
}

div#spend-qrcode {
    margin: 25px;
}
