
.reload-form {
 right: 20px;
 top: 20px;
 position: absolute;
}

.small {
    font-size: 50%;
}

.gray {
    font-size: 80%;
    color: #888;
}

.fixed {
 font-family: "Courier New",Courier,monospace;
}

.hidden {
    display: none;
}

.profile-icon-drop {
    height: 125px;
    width: 125px;
    padding: 5px;
    border: 2px solid gray;
}

#address-book-controls, #address-book-main {
    width: 768px;
    //margin: auto;
}

#address-book-main {
    height: 60%;
    //overflow: auto;
    border: 1px solid yellow;
}

#address-book-sidebar {
    height: 100%;
    //padding-left: 5px;
    margin-right: 608px;
    border: 1px solid red;
    overflow: scroll;
}

#address-book-body {
    float: right;
    width: 598px;
    border: 1px solid orange;
}

#address-book-icon {
    float: left;
    max-width: 125px;
    max-height: 125px;
}

.address-book-icon-right {
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: auto;
}

.address-book-attributes {
    padding-top: 10px;
    padding-left: 10px;
    clear: left;
}
