div#one {
    height: 80%;
    width: 200px;
    border: 2px solid orange;
    padding: 5px;
    position: absolute;
    left: 20px;
}

div#invite {
    border: 2px solid blue;
    padding: 2px;
    position: relative;
    bottom: 5px;
}

div#address-book-sidebar {
    overflow: scroll;
}

div#two {
    height: 80%;
    width: 400px;
    padding: 5px;
    border: 2px solid red;
    position: absolute;
    left: 240px;
}

div#send-message {
    padding: 5px;
    border: 2px solid blue;
    bottom: 10px;
}

div#backup-narrowbox {
    height: 90%;
    width: 200px;
    padding: 5px;
    border: 2px solid green;
    position: absolute;
    left: 20px;
}

div#backup-status {
 border: 1px solid #aaa;
 height: 60px;
 margin: 3px;
}

div#backup-progress {
 border: 1px solid #aaa;
 height: 200px;
}

div#backup-bigbox {
    height: 90%;
    width: 700px;
    padding: 5px;
    border: 2px solid red;
    position: absolute;
    left: 240px;
}

svg.filetree {
    height: 600px;
    width: 600px;
}

/*g.sunburst {
    transform: translate(300,300);
}*/

path.arc {
    stroke: blue;
    fill: white;
}

.reload-form {
 right: 20px;
 top: 20px;
 position: absolute;
}

.files-form {
 right: 20px;
 top: 40px;
 position: absolute;
}

.small {
    font-size: 50%;
}

.gray {
    font-size: 80%;
    color: #888;
}

.fixed {
 font-family: "Courier New",Courier,monospace;
}

.hidden {
    display: none;
}
